html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    color: rgba(0, 0, 0, 0.87);
  }
  
  a {
    color: #092756;
  }
  a:hover, a:focus {
    color: #092756;
  }


  .navigation {
    height: 70px;
    background: #5D98D9;
  }
  
  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
  }
  .brand a,
  .brand a:visited {
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  nav {
    float: right;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    float: left;
    position: relative;
  }
  nav ul li a,
  nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #5D98D9;
    color: #ffffff;
    text-decoration: none;
  }
  nav ul li a:hover,
  nav ul li a:visited:hover {
    background: #2581DC;
    color: #ffffff;
  }
  nav ul li a:not(:only-child):after,
  nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: " ▾";
  }
  nav ul li ul li {
    min-width: 190px;
  }
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
  }
  
  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Mobile navigation */
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #5D98D9;
    height: 70px;
    width: 70px;
  }
  
  @media only screen and (max-width: 798px) {
    .nav-mobile {
      display: block;
    }
  
    nav {
      width: 100%;
      padding: 70px 0 15px;
    }
    nav ul {
      display: none;
    }
    nav ul li {
      float: none;
    }
    nav ul li a {
      padding: 15px;
      line-height: 20px;
    }
    nav ul li ul li a {
      padding-left: 30px;
    }
  
    .nav-dropdown {
      position: static;
    }
  }
  @media screen and (min-width: 799px) {
    .nav-list {
      display: block !important;
    }
  }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }


  
  
  .container {
    margin: 5% 3%;
  }
  @media (min-width: 48em) {
    .container {
      margin: 2%;
    }
  }
  @media (min-width: 75em) {
    .container {
      margin: 2em auto;
      max-width: 75em;
    }
  }
  
  .responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
    border-spacing: 0;
  }
  @media (min-width: 48em) {
    .responsive-table {
      font-size: 0.9em;
    }
  }
  @media (min-width: 62em) {
    .responsive-table {
      font-size: 1em;
    }
  }
  .responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  @media (min-width: 48em) {
    .responsive-table thead {
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }
  }
  .responsive-table thead th {
    background-color: #092756;
    border: 1px solid #092756;
    font-weight: normal;
    text-align: center;
    color: white;
  }
  .responsive-table thead th:first-of-type {
    text-align: left;
  }
  .responsive-table tbody,
  .responsive-table tr,
  .responsive-table th,
  .responsive-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }
  @media (min-width: 48em) {
    .responsive-table tr {
      display: table-row;
    }
  }
  .responsive-table th,
  .responsive-table td {
    padding: 0.5em;
    vertical-align: middle;
  }
  @media (min-width: 30em) {
    .responsive-table th,
  .responsive-table td {
      padding: 0.75em 0.5em;
    }
  }
  @media (min-width: 48em) {
    .responsive-table th,
  .responsive-table td {
      display: table-cell;
      padding: 0.5em;
    }
  }
  @media (min-width: 62em) {
    .responsive-table th,
  .responsive-table td {
      padding: 0.75em 0.5em;
    }
  }
  @media (min-width: 75em) {
    .responsive-table th,
  .responsive-table td {
      padding: 0.75em;
    }
  }
  .responsive-table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }
  @media (min-width: 48em) {
    .responsive-table caption {
      font-size: 1.5em;
    }
  }
  .responsive-table tfoot {
    font-size: 0.8em;
    font-style: italic;
  }
  @media (min-width: 62em) {
    .responsive-table tfoot {
      font-size: 0.9em;
    }
  }
  @media (min-width: 48em) {
    .responsive-table tbody {
      display: table-row-group;
    }
  }
  .responsive-table tbody tr {
    margin-bottom: 1em;
  }
  @media (min-width: 48em) {
    .responsive-table tbody tr {
      display: table-row;
      border-width: 1px;
    }
  }
  .responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
  }
  @media (min-width: 48em) {
    .responsive-table tbody tr:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  .responsive-table tbody th[scope=row] {
    background-color: #092756;
    color: white;
  }
  @media (min-width: 30em) {
    .responsive-table tbody th[scope=row] {
      border-left: 1px solid #092756;
      border-bottom: 1px solid #092756;
    }
  }
  @media (min-width: 48em) {
    .responsive-table tbody th[scope=row] {
      background-color: transparent;
      color: #000001;
      text-align: left;
    }
  }
  .responsive-table tbody td {
    text-align: right;
  }
  @media (min-width: 48em) {
    .responsive-table tbody td {
      border-left: 1px solid #092756;
      border-bottom: 1px solid #092756;
      text-align: center;
    }
  }
  @media (min-width: 48em) {
    .responsive-table tbody td:last-of-type {
      border-right: 1px solid #092756;
    }
  }
  .responsive-table tbody td[data-type=currency] {
    text-align: right;
  }
  .responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.54);
  }
  @media (min-width: 30em) {
    .responsive-table tbody td[data-title]:before {
      font-size: 0.9em;
    }
  }
  @media (min-width: 48em) {
    .responsive-table tbody td[data-title]:before {
      content: none;
    }
  }